@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Data
        <br />
        <p>We are going to have an exiciting party</p>
        <hr />
        @Html.ActionLink("RSVP form", "RsvpForm")
    </div>
</body>
</html>
